doctype html
html(lang="en")
    head
        title Express TS Seed project
        //link(rel="stylesheet" href=require("./css/main.css"))
    body
        h1 Express TS Seed project
        p This is a seed project for your next Node.js web application.
        img(src=require("./images/ts.png"))
